body{
    border: 5px solid rgb(236, 224, 224);
    margin: 0 400px;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: first baseline;
    margin-bottom: 30px;

}

.week{
    background-color: #F3F4F6;
    text-align: center;    
    border-radius:5px;
    width: 80px;
    padding: 10px;
}


.slide{
    display: inline-block;
    background-color: #C1B6F7;
    text-align: center;    
    border-radius:10px;
    width: 80px;
    padding: 10px;
    text-decoration: underline;
}

.strtrc{
    display: inline-block;
    background-color: #9DC5F8;
    text-align: center;    
    border-radius:10px;
    width: 120px;
    padding: 10px;
    text-decoration: underline;
}

.chkof{
    display: inline-block;
    background-color: #F0A9A6;
    text-align: center;    
    border-radius:10px;
    width: 120px;
    padding: 10px;
    text-decoration: underline;
}

.solu{
    display: inline-block;
    background-color: #9FEBB0;
    text-align: center;    
    border-radius:10px;
    width: 80px;
    padding: 10px;
    text-decoration: underline;
}

.extra{
    background-color: #9FEBB0;
    text-align: center;    
    border-radius:10px;
    width: 200px;
    padding: 10px;
    text-decoration: underline;
}